#app {
    width: 100%;
    height: 800px;
    background-color: #FFD6A5;
}

.container {
    text-align: center;
}

body {
    text-align: center;
    background-color: aquamarine;
}

#myCarousel {
    background-color: #FFD6A5;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px
}

.carousel-inner p {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: darkblue;
}

#myCarousel2 {
    background-color: #FFD6A5;
}

#myCarousel2 img {
    height: 300px;
    margin-top: 35px
}

#chatbot {
    width: 100%;
    height: 800px;
    background-color: #FFD6A5;
}
